﻿// RESET
// --------------------------------------------------
@import "compass/reset"
// VARIABLES
// --------------------------------------------------
@import "variables.sass"

// MIXINS
// --------------------------------------------------
// compass
// -------------------------
@import "compass"
@import "compass/utilities"
@import "compass/css3/transform"
$site-sprite-dimensions: true
$site-spacing: 2px !default
$site-layout: horizontal // diagonal // smart
@import "site/*.png"
$api-sprite-dimensions: true
@import "api/*.png"
// @import "compass/layout"
// @import "compass/css3/box-sizing"
@import "compass/css3/transition"
// @import "compass/css3/box-shadow"
// h5bp2
// -------------------------
@import "de-core/h5bp2"
// de-core
// -------------------------
@import "de-core/font-family"
// @import "de-core/grids"
@import "de-core/layout/clear-floats"
@import "de-core/font-family"
@import "de-core/shadows"
@import "de-core/center"
@import "de-core/sticky-footer"
@import "de-core/background"
// @import "de-core/ui/button"
// bootstrap
// -------------------------
@import "bootstrap"
// GLOBAL
// --------------------------------------------------
// advanced typography
// -------------------------
@import "typography.sass"
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic)
body
	font-family: "PT Sans", $helvetica // [$georgia, $helvetica, $lucida-grande, $monospace]
	//font-family: $helvetica !important // [$georgia, $helvetica, $lucida-grande, $monospace]
	// font-size: 4px !important//($font_size - 2px)/16px*1em !important
	// +patterns
h1, h2, nav
	font-family: $helvetica
a, a:link, a:visited
	+transition(color 0.5s)
	// -webkit-transition: none // баг 16-ой версии хрома
a
	color: #0977BC // rgb(0, 0, 238)
	text-decoration: underline
a:visited
	color: rgb(0, 0, 238)
a:active
	position: relative
	top: 1px
	left: 1px
a:hover
	// color: darkblue
	// color: #0977BC // #0E76BC
	text-decoration: none
	// +transition(text-decoration 0.5s)

a:hover, a:active
	text-decoration: none !important
h1, h2, h3, h4, h5, h6
	a
		color: #000
		text-decoration: none
		&:hover, &:visited
			color: #000
			text-decoration: none
// PARTIALS
// --------------------------------------------------
@import "partials/header"
@import "partials/article"
@import "partials/footer"
@import "partials/share"
// @import "partials/kleparius_api"

// PAGES
// --------------------------------------------------
@import "pages/home"
@import "pages/manual_test"
@import "pages/terms"
@import "pages/prices"
span.attention
	&:before
		+site-sprite(attention)
		// background-color: #f68526
		+border-radius(50%)
		display: inline-block
		content: ""
		position: relative
		top: 4px
		right: 4px
