<% @lang = "ru" %>
<% @id = "prices" %>
<% @title = "Тарифы" %>

<h1><%= @title %></h1>
<table class="table">
	<tr>
		<th>Тарифные планы</th>
		<th>Клепарик</th>
		<th>Клепариус</th>
		<th>Клепарище</th>
	</tr>
	<tr>
		<td>Место на сервере <sup>1</sup></td>
		<td>500мб</td>
		<td>2000мб</td>
		<td>10000мб</td>
	</tr>
	<tr>
		<td>Макетов в месяц</td>
		<td>10</td>
		<td>100</td>
		<td>неогр.</td>
	</tr>
	<tr>
		<td>E-mail уведомления <sup>2</sup></td>
		<td>+</td>
		<td>+</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Sms уведомления <sup>2</sup></td>
		<td>-</td>
		<td>-</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Наивысший приоритет выполнения</td>
		<td>-</td>
		<td>-</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Загрузка своих шаблонов в магазин <sup>2<sup></td>
		<td>+</td>
		<td>+</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Покупка шаблонов из магазина <sup>2<sup></td>
		<td>+</td>
		<td>+</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Продвинутый редатора изображений</td>
		<td>-</td>
		<td>+</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Подключение нескольких сайтов типографий</td>
		<td>-</td>
		<td>-</td>
		<td>+</td>
	</tr>
	<tr>
		<td>Стоимость обслуживания в месяц</td>
		<td>бесплатно</td>
		<td>3000 руб.</td>
		<td>9000 руб.</td>
	</tr>
</table>
<ol class="small">
	<li><span>Можно заказать дополнительные мегабайты в пользовательской части.</span></li>
	<li><span>Эти функции пока находятся в разработке.</span></li>
</ol>
<button class="btn btn-primary btn-large">Зарегистрироваться</button>
<a href="/<%= @lang %>/#registration"></a>