<!doctype html>
<html lang="<%= @lang %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Kleparius / <%= @title %></title>
		<!-- <meta name="description" content=""> -->
		<!-- <meta name="keywords" content=""> -->
		<meta name="copyright" content="www.itproduction.net">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/screen.css">
	</head>
	<body>
		<%= render '/layouts/partials/header' %>
		<load>
			<article id="<%= @id %>">
					<%= yield %>
			</article>
		</load>
		<%= render '/layouts/partials/footer' %>
		<%= render '/layouts/partials/scripts' %>
	</body>
</html>