@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.site-sprite, header nav li.right a.ru, header nav li.right a.en, header nav li.right a.de, header #header_panels #lang_panel a.ru, header #header_panels #lang_panel a.en, header #header_panels #lang_panel a.de, footer #itpr, article#home #logo, article#home #about:after, article#home #features:after, article#home #integration:after, article#home #editor:after, article#home #servers:after, article#home #print:after, article#home #registration:after, article#home #blankzakaza:after, span.attention:before {
  background: url('../img/site-s2eaa62fd94.png') no-repeat; }

.api-sprite {
  background: url('../img/api-sab0390dd2a.png') no-repeat; }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: rgba(246, 133, 38, 0.7);
  color: #fff;
  text-shadow: none;
  border-radius: 4px; }

::selection {
  background: rgba(246, 133, 38, 0.7);
  color: #fff;
  text-shadow: none;
  border-radius: 4px; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.__clearfix, header nav, article, footer {
  zoom: 1; }
  .__clearfix:before, header nav:before, article:before, footer:before, .__clearfix:after, header nav:after, article:after, footer:after {
    content: "";
    display: table; }
  .__clearfix:after, header nav:after, article:after, footer:after {
    clear: both; }

/**
 * Background noise recipe
 * 
 * This recipe use a sass function to generate a .png file
 * 
 * Inspired by a jQuery plugin "Noisy" by Daniel Rapp @DanielRapp
 * @link https://github.com/DanielRapp/Noisy
 * 
 * Converted using Sass by Aaron Russell @aaronrussell & Philipp Bosch @philippbosch
 * @link https://gist.github.com/1021332
 * 
 * Ported to a sass gem by Antti Salonen @antsa
 * @link https://github.com/antsa/sassy_noise
 * 
 * Mixin:        background-noise
 * Function:     background_noise
 * 
 * @author Daniel Rapp @DanielRapp
 * @author Aaron Russell @aaronrussell
 * @author Philipp Bosch @philippbosch
 * @author Antti Salonen @antsa
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Blueprint grid background pattern
 * 
 * @link http://lea.verou.me/css3patterns/#blueprint-grid
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#tartan
 *
 * @author Marta Armada http://swwweet.com/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */
/**
 * Striped background patterns
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#horizontal-stripes
 * @link http://lea.verou.me/css3patterns/#vertical-stripes
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Cicada background pattern
 *
 * @link http://lea.verou.me/css3patterns/#cicada-stripes
 *
 * @author Randy Merril http://forthedeveloper.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Tablecloth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#tablecloth
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Lined paper background pattern
 *
 * @link http://lea.verou.me/css3patterns/#lined-paper
 *
 * @author Sarah Backhouse http://www.jadu.net/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Madras background pattern
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#madras
 *
 * @author Divya Manian http://nimbupani.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Checkerboard background pattern
 *
 * @link http://lea.verou.me/css3patterns/#checkerboard
 * @link http://lea.verou.me/css3patterns/#diagonal-checkerboard
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Houndstooth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#houndstooth
 *
 * @author Antoine Bernier http://abernier.name for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Polkadot background pattern
 *
 * @link http://lea.verou.me/css3patterns/#polka-dot
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/*
 * Bootstrap 2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 * Converted to SASS by Thomas McDonald
 */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

form {
  margin: 0 0 18px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee; }
  legend small {
    font-size: 13.5px;
    color: #999999; }

label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px; }

input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

label {
  display: block;
  margin-bottom: 5px;
  color: #333333; }

input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.uneditable-textarea {
  width: auto;
  height: auto; }

label input, label textarea, label select {
  display: block; }

input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }

input[type="image"] {
  border: 0; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto; }

select, input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px; }

input[type="file"] {
  line-height: 18px \9; }

select {
  width: 220px;
  background-color: white; }

select[multiple], select[size] {
  height: auto; }

input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

.radio, .checkbox {
  padding-left: 18px; }

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline, .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
  float: none;
  margin-left: 0; }

input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px; }
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 130px; }
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px; }
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 290px; }
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 370px; }
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px; }
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px; }
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px; }
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px; }
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px; }
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px; }
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed; }

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
  color: #c09853; }
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #c09853;
  border-color: #c09853; }
  .control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e; }
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853; }

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #b94a48; }
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48; }
  .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392; }
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48; }

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #468847; }
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #468847;
  border-color: #468847; }
  .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b; }
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847; }

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }
  input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7; }

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd; }

.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }

:-moz-placeholder {
  color: #999999; }

::-webkit-input-placeholder {
  color: #999999; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999; }

.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px; }

.input-prepend, .input-append {
  margin-bottom: 5px;
  *zoom: 1; }
  .input-prepend:before, .input-prepend:after, .input-append:before, .input-append:after {
    display: table;
    content: ""; }
  .input-prepend:after, .input-append:after {
    clear: both; }
  .input-prepend input, .input-prepend .uneditable-input, .input-append input, .input-append .uneditable-input {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .input-prepend input:focus, .input-prepend .uneditable-input:focus, .input-append input:focus, .input-append .uneditable-input:focus {
      position: relative;
      z-index: 2; }
  .input-prepend .uneditable-input, .input-append .uneditable-input {
    border-left-color: #eee;
    border-right-color: #ccc; }
  .input-prepend .add-on, .input-append .add-on {
    float: left;
    display: block;
    width: auto;
    min-width: 16px;
    height: 18px;
    margin-right: -1px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    color: #999999;
    text-align: center;
    text-shadow: 0 1px 0 white;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .input-prepend .active, .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546; }

.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */ }

.input-append input, .input-append .uneditable-input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
.input-append .uneditable-input {
  border-right-color: #ccc; }
.input-append .add-on {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }
.input-append input:first-child {
  *margin-left: -160px; }
  .input-append input:first-child + .add-on {
    *margin-left: -21px; }

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px; }

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0; }
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none; }

.form-search label, .form-inline label, .form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
  display: inline-block; }

.form-search .input-append .add-on, .form-inline .input-prepend .add-on, .form-search .input-append .add-on, .form-inline .input-prepend .add-on {
  vertical-align: middle; }

.form-search .radio, .form-inline .radio, .form-search .checkbox, .form-inline .checkbox {
  margin-bottom: 0;
  vertical-align: middle; }

.control-group {
  margin-bottom: 9px; }

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate; }

.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1; }
  .form-horizontal .control-group:before, .form-horizontal .control-group:after {
    display: table;
    content: ""; }
  .form-horizontal .control-group:after {
    clear: both; }
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right; }
.form-horizontal .controls {
  margin-left: 160px; }
.form-horizontal .form-actions {
  padding-left: 160px; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  width: 100%;
  margin-bottom: 18px; }
  .table th, .table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd; }
  .table th {
    font-weight: bold; }
  .table thead th {
    vertical-align: bottom; }
  .table thead:first-child tr th, .table thead:first-child tr td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #ddd; }

.table-condensed th, .table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
    border-left: 1px solid #ddd; }
  .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }
  .table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5; }

table .span1 {
  float: none;
  width: 44px;
  margin-left: 0; }
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0; }
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0; }
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0; }
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0; }
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0; }
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0; }
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0; }
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0; }
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0; }
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0; }
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0; }

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em; }
  .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6; }
  .btn:active, .btn.active {
    background-color: #cccccc \9; }
  .btn:first-child {
    *margin-left: 0; }

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; }

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0; }

.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.btn-large [class^="icon-"] {
  margin-top: 1px; }

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px; }

.btn-small [class^="icon-"] {
  margin-top: -1px; }

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px; }

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white; }

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

.btn-primary {
  background-color: #006ccc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044cc; }
  .btn-primary:active, .btn-primary.active {
    background-color: #003399 \9; }

.btn-warning {
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406; }
  .btn-warning:active, .btn-warning.active {
    background-color: #c67605 \9; }

.btn-danger {
  background-color: #da4e49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #bd362f; }
  .btn-danger:active, .btn-danger.active {
    background-color: #942a25 \9; }

.btn-success {
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51a351; }
  .btn-success:active, .btn-success.active {
    background-color: #408140 \9; }

.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2F96B4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2f96b4; }
  .btn-info:active, .btn-info.active {
    background-color: #24748c \9; }

.btn-inverse {
  background-color: #383838;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF454545', endColorstr='#FF262626', GradientType=0);
  border-color: #262626 #262626 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #262626; }
  .btn-inverse:active, .btn-inverse.active {
    background-color: #0d0d0d \9; }

button.btn, input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px; }
  button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button.btn.large, input[type="submit"].btn.large {
    *padding-top: 7px;
    *padding-bottom: 7px; }
  button.btn.small, input[type="submit"].btn.small {
    *padding-top: 3px;
    *padding-bottom: 3px; }

.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none; }

.nav > li > a {
  display: block; }

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee; }

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.nav li + .nav-header {
  margin-top: 9px; }

.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0; }

.nav-list > li > a, .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.nav-list > li > a {
  padding: 3px 15px; }

.nav-list .active > a, .nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc; }

.nav-list [class^="icon-"] {
  margin-right: 2px; }

.nav-tabs, .nav-pills {
  *zoom: 1; }
  .nav-tabs:before, .nav-tabs:after, .nav-pills:before, .nav-pills:after {
    display: table;
    content: ""; }
  .nav-tabs:after, .nav-pills:after {
    clear: both; }

.nav-tabs > li, .nav-pills > li {
  float: left; }

.nav-tabs > li > a, .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #555555;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.nav-pills .active > a, .nav-pills .active > a:hover {
  color: white;
  background-color: #0088cc; }

.nav-stacked > li {
  float: none; }

.nav-stacked > li > a {
  margin-right: 0; }

.nav-tabs.nav-stacked {
  border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2; }

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
  margin-top: 1px;
  border-width: 1px; }

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
  border-top-color: #0088cc;
  margin-top: 6px; }

.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580; }

.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333; }

.nav > .dropdown.active > a:hover {
  color: black;
  cursor: pointer; }

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
  color: white;
  background-color: #999999;
  border-color: #999999; }

.nav .open .caret, .nav .open.active .caret, .nav .open a:hover .caret {
  border-top-color: white;
  opacity: 1;
  filter: alpha(opacity=100); }

.tabs-stacked .open > a:hover {
  border-color: #999999; }

.tabbable {
  *zoom: 1; }
  .tabbable:before, .tabbable:after {
    display: table;
    content: ""; }
  .tabbable:after {
    clear: both; }

.tab-content {
  overflow: hidden; }

.tabs-below .nav-tabs, .tabs-right .nav-tabs, .tabs-left .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none; }

.tab-content > .active, .pill-content > .active {
  display: block; }

.tabs-below .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .tabs-below .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
    border-top-color: #ddd; }

.tabs-below .nav-tabs .active > a, .tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #ddd #ddd #ddd; }

.tabs-left .nav-tabs > li, .tabs-right .nav-tabs > li {
  float: none; }

.tabs-left .nav-tabs > li > a, .tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

.tabs-left .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left .nav-tabs .active > a, .tabs-left .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: white; }

.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right .nav-tabs .active > a, .tabs-right .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: white; }

h1, h2 {
  margin: 0.92308 px 0 1.38462 px; }

h2 {
  font-weight: normal; }

.wrapper {
  padding: 0.665em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ie body {
  width: 35.55556emem;
  margin: 0 auto;
  font-size: 1.05556emem; }

.ie h1 {
  margin: 1.14286em 0 0.57143em; }

body {
  font-size: 18px;
  line-height: 1.33em; }

.small {
  font-size: 0.8125em;
  line-height: 1.22769; }

h3 {
  font-size: 1.22222em;
  line-height: 1.463em; }

.large, h2, h1 {
  font-size: 1.44444em;
  line-height: 1.995em; }

.huge, .ie h1 {
  font-size: 2.33333em;
  line-height: 2.66em; }

.massive {
  font-size: 3.77778em;
  line-height: 3.99em; }

.gigantic {
  /* 110px / 120px */
  font-size: 6.11111em;
  line-height: 6.65em; }

ol {
  list-style-type: decimal; }
  ol.small {
    font-size: 14px; }

p {
  margin-bottom: 15px; }

body {
  font-family: "PT Sans", Helvetica, "Helvetica Neue", Arial, sans-serif; }

h1, h2, nav {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; }

a, a:link, a:visited {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

a {
  color: #0977bc;
  text-decoration: underline; }

a:visited {
  color: #0000ee; }

a:active {
  position: relative;
  top: 1px;
  left: 1px; }

a:hover {
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none !important; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: black;
  text-decoration: none; }
  h1 a:hover, h1 a:visited, h2 a:hover, h2 a:visited, h3 a:hover, h3 a:visited, h4 a:hover, h4 a:visited, h5 a:hover, h5 a:visited, h6 a:hover, h6 a:visited {
    color: black;
    text-decoration: none; }

body {
  overflow: hidden; }
  body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-image: none;
    background-color: #222222;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(50%, #2f2f2f), color-stop(51%, #222222), color-stop(100%, #151515));
    background-image: -webkit-linear-gradient(top, #484848, #2f2f2f 50%, #222222 51%, #151515);
    background-image: -moz-linear-gradient(top, #484848, #2f2f2f 50%, #222222 51%, #151515);
    background-image: -o-linear-gradient(top, #484848, #2f2f2f 50%, #222222 51%, #151515);
    background-image: linear-gradient(top, #484848, #2f2f2f 50%, #222222 51%, #151515);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 100%; }

header {
  position: fixed;
  z-index: 999999;
  left: 50%;
  margin-left: -400px;
  width: 800px; }
  header nav {
    list-style: none; }
    header nav li {
      float: left; }
      header nav li a {
        text-decoration: none;
        display: inline-block;
        margin-right: 16px;
        margin-top: 8px; }
        header nav li a, header nav li a:visited {
          color: white; }
        header nav li a:hover, header nav li a:active {
          color: #f0a563; }
        header nav li a#klep_mini {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: url(../img/site/klep_mini.svg);
          margin-top: 4px;
          text-indent: -9999px;
          overflow: hidden;
          height: 32px;
          width: 32px; }
      header nav li.right {
        float: right; }
        header nav li.right a {
          margin-left: 16px;
          margin-right: 0px; }
          header nav li.right a.ru, header nav li.right a.en, header nav li.right a.de {
            margin-top: 6px;
            text-indent: -9999px;
            overflow: hidden;
            font-size: 0px; }
          header nav li.right a.ru {
            background-position: -1719px 0;
            height: 26px;
            width: 36px; }
          header nav li.right a.en {
            background-position: -435px 0;
            height: 26px;
            width: 36px; }
          header nav li.right a.de {
            background-position: -260px 0;
            height: 26px;
            width: 36px; }
  header #header_panels {
    position: absolute;
    top: 45px;
    right: 0; }
    header #header_panels #login_panel {
      float: left;
      background: rgba(27, 117, 188, 0.7);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 5px 10px; }
      header #header_panels #login_panel input, header #header_panels #login_panel button {
        margin: 0 !important;
        vertical-align: middle; }
    header #header_panels #lang_panel {
      margin-left: 15px;
      float: left;
      background: rgba(27, 117, 188, 0.7);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 5px 7px; }
      header #header_panels #lang_panel a {
        height: 28px;
        margin: 0 3px !important;
        display: block;
        float: left;
        border: 1px solid;
        border-color: rgba(0, 38, 47, 0.3); }
        header #header_panels #lang_panel a.ru {
          background-position: -1719px 0;
          height: 26px;
          width: 36px; }
        header #header_panels #lang_panel a.en {
          background-position: -435px 0;
          height: 26px;
          width: 36px; }
        header #header_panels #lang_panel a.de {
          background-position: -260px 0;
          height: 26px;
          width: 36px; }

article {
  margin: 0 auto;
  padding-top: 60px; }
  article header {
    width: 100%;
    height: 189px;
    margin-bottom: 20px; }
    article header ul {
      list-style: none;
      margin: 20px auto 0; }
      article header ul li {
        float: left;
        padding: 150px 0px 15px;
        display: table-cell;
        width: 160px;
        text-align: center; }
        article header ul li:nth-child(1) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/1.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li:nth-child(2) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/2.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li:nth-child(3) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/3.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li:nth-child(4) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/4.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li:nth-child(5) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/5.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li:nth-child(6) {
          background: rgba(0, 0, 0, 0.7) url(../img/home_icons/6.png) no-repeat;
          background-position: 50% 24px; }
        article header ul li a {
          color: #bababa;
          padding: 150px 10px 10px; }
          article header ul li a:hover {
            color: white;
            text-decoration: none; }
          article header ul li a:active {
            color: #cccccc;
            text-decoration: none; }

article {
  width: 800px;
  position: relative; }
  article .nav-pills {
    padding-left: 0;
    margin-top: 0; }

section {
  float: left;
  width: 100%;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  height: auto; }

article {
  padding-bottom: 85px; }

footer {
  position: absolute;
  bottom: 0;
  height: 60px; }

footer {
  left: 50%;
  margin-left: -400px;
  width: 800px; }
  footer .share {
    float: left;
    margin-top: 11px; }
  footer #itpr {
    float: right;
    background-position: -789px 0;
    height: 40px;
    width: 176px;
    margin-top: 5px; }

.share {
  height: 20px !important;
  overflow: hidden !important;
  float: left;
  bottom: -3px;
  position: relative;
  width: auto !important; }
  .share .addthis_toolbox {
    width: 280px !important; }
  .share .addthis_button_tweet iframe {
    width: 76px !important; }
  .share .at300bs {
    position: relative !important;
    top: 2px !important; }

article#home #logo {
  margin: 0 auto;
  background-position: -967px 0;
  height: 211px;
  width: 400px; }
article#home section {
  padding-top: 40px;
  margin-top: 30px;
  color: black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #e8f4f8;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  padding: 1em;
  -webkit-transition: box-shadow 0.4s linear;
  -moz-transition: box-shadow 0.4s linear;
  -ms-transition: box-shadow 0.4s linear;
  -o-transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }
  article#home section:after {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 157px;
    content: "";
    background-repeat: no-repeat;
    z-index: 9999;
    border: 0px solid black; }
  article#home section:hover {
    -webkit-transition: box-shadow 0.4s linear;
    -moz-transition: box-shadow 0.4s linear;
    -ms-transition: box-shadow 0.4s linear;
    -o-transition: box-shadow 0.4s linear;
    transition: box-shadow 0.4s linear;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #e8f4f8; }
  article#home section h2 {
    margin-left: 198px; }
  article#home section h4 {
    margin-left: 198px; }
  article#home section p {
    margin-left: 180px; }
  article#home section ul {
    margin-left: 180px;
    margin-top: 5px; }
    article#home section ul li:before {
      content: "•";
      color: #ff992f;
      margin-right: 7px; }
article#home #about:after {
  background-position: 0 0;
  height: 157px;
  width: 156px;
  left: 20px;
  top: 55px; }
article#home #features:after {
  background-position: -473px 0;
  height: 157px;
  width: 148px;
  left: 20px;
  top: 95px; }
article#home #integration:after {
  background-position: -623px 0;
  height: 157px;
  width: 164px;
  left: 12px;
  top: 100px; }
article#home #editor:after {
  background-position: -298px 0;
  height: 157px;
  width: 135px;
  left: 25px;
  top: 110px; }
article#home #servers:after {
  background-position: -1757px 0;
  height: 157px;
  width: 93px;
  left: 50px;
  top: 50px; }
article#home #servers span {
  margin-left: 180px; }
article#home #print:after {
  background-position: -1403px 0;
  height: 157px;
  width: 151px;
  left: 20px;
  top: 43px; }
article#home #registration:after {
  background-position: -1556px 0;
  height: 156px;
  width: 161px;
  left: 20px;
  top: 55px; }
article#home #registration form {
  margin-top: 15px;
  margin-left: 195px; }
  article#home #registration form input {
    font-size: 23px;
    line-height: 29px;
    height: 29px;
    margin: 0px 0px 9px;
    padding: 4px;
    width: 172px;
    margin-right: 5px; }
  article#home #registration form button {
    position: relative;
    bottom: 5px; }
  article#home #registration form #registration_firm_name {
    width: 551px !important; }
article#home #blankzakaza:after {
  background-position: -182px 0;
  height: 98px;
  width: 76px;
  left: 55px;
  top: 25px; }

kleparius,
kl-page,
kl-header,
kl-footer,
kl-img,
kl-text,
kl-fontcolor,
kl-resize,
no-draggable {
  display: block; }

article#manual_test kleparius {
  width: 100%;
  margin: 20px 0; }
  article#manual_test kleparius kl-page {
    position: relative;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.2); }
    article#manual_test kleparius kl-page .ui-wrapper, article#manual_test kleparius kl-page .ui-draggable, article#manual_test kleparius kl-page .rotatable {
      background: transparent;
      border: 4px solid transparent; }
      article#manual_test kleparius kl-page .ui-wrapper:hover, article#manual_test kleparius kl-page .ui-draggable:hover, article#manual_test kleparius kl-page .rotatable:hover {
        border: 4px dashed #cccccc; }
      article#manual_test kleparius kl-page .ui-wrapper:active, article#manual_test kleparius kl-page .ui-draggable:active, article#manual_test kleparius kl-page .rotatable:active {
        border: 4px dashed rgba(27, 117, 188, 0.7); }
      article#manual_test kleparius kl-page .ui-wrapper:hover .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .ui-wrapper:active .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .ui-draggable:hover .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .ui-draggable:active .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .rotatable:hover .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .rotatable:active .ui-icon-gripsmall-diagonal-se {
        display: block !important; }
      article#manual_test kleparius kl-page .ui-wrapper .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .ui-draggable .ui-icon-gripsmall-diagonal-se, article#manual_test kleparius kl-page .rotatable .ui-icon-gripsmall-diagonal-se {
        display: none !important; }
    article#manual_test kleparius kl-page .draggable no-draggable {
      height: 100%;
      width: 100%; }
    article#manual_test kleparius kl-page .rotatable .rotate_point {
      height: 16px;
      width: 16px;
      z-index: 999999;
      left: 20px;
      top: 20px;
      background: #cc0000 url(/img/api/point.png) no-repeat;
      font-size: 10px;
      overflow: visible;
      position: absolute; }
    article#manual_test kleparius kl-page .rotatable .rotate_wrapper {
      height: 100%;
      width: 100%;
      position: absolute; }
    article#manual_test kleparius kl-page .rotatable:hover .rotate_point, article#manual_test kleparius kl-page .rotatable:active .rotate_point {
      opacity: 1; }
    article#manual_test kleparius kl-page .rotatable:active .rotate_point {
      border-color: rgba(27, 117, 188, 0.7); }
    article#manual_test kleparius kl-page kl-img {
      position: absolute;
      left: 437px;
      height: 250px;
      width: 250px;
      top: 45px;
      text-align: center; }
    article#manual_test kleparius kl-page kl-text {
      position: absolute;
      top: 37px;
      left: 27px; }
      article#manual_test kleparius kl-page kl-text textarea {
        width: 100%;
        height: 100%;
        font-size: 18px;
        background: transparent;
        border: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 0 0 white;
        -moz-box-shadow: 0 0 0 white;
        box-shadow: 0 0 0 white;
        box-sizing: border-box;
        overflow: hidden;
        resize: none; }
        article#manual_test kleparius kl-page kl-text textarea:focus, article#manual_test kleparius kl-page kl-text textarea:hover {
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          border: none;
          -webkit-box-shadow: 0 0 0 white;
          -moz-box-shadow: 0 0 0 white;
          box-shadow: 0 0 0 white; }
    article#manual_test kleparius kl-page kl-fontcolor {
      position: absolute;
      top: -24px;
      left: 10px;
      width: 16px;
      height: 16px;
      border: 1px solid rgba(27, 117, 188, 0.7);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    article#manual_test kleparius kl-page kl-resize {
      position: absolute;
      top: -24px;
      left: 30px;
      width: 16px;
      height: 16px;
      border: 1px solid rgba(27, 117, 188, 0.7);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
  article#manual_test kleparius kl-footer {
    margin-top: 20px; }

article#terms p {
  margin-left: 10px;
  margin-right: 10px; }
article#terms h1 {
  margin-left: 20px; }

article#prices .btn-large {
  position: absolute;
  right: 0;
  top: 516px; }
article#prices table td:nth-child(2), article#prices table td:nth-child(3), article#prices table td:nth-child(4), article#prices table th:nth-child(2), article#prices table th:nth-child(3), article#prices table th:nth-child(4) {
  text-align: center; }
article#prices table th:nth-child(2) {
  color: rgba(238, 50, 38, 0.7); }
article#prices table th:nth-child(3) {
  color: rgba(27, 117, 188, 0.7); }
article#prices table th:nth-child(4) {
  color: rgba(120, 162, 63, 0.7); }

span.attention:before {
  background-position: -158px 0;
  height: 22px;
  width: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  content: "";
  position: relative;
  top: 4px;
  right: 4px; }
