<% @temp = "Заглушка" %>
<footer>
	<div class='pluso pluso-theme-bewel pluso-round'>
		<div class='pluso-more-container'>
			<a class='pluso-more' href=''></a>
			<ul class='pluso-counter-container'>
				<li></li><li class='pluso-counter'></li>
				<li></li>
			</ul>
		</div>
		<a class='pluso-facebook'></a>
		<a class='pluso-twitter'></a>
		<a class='pluso-vkontakte'></a>
		<a class='pluso-odnoklassniki'></a>
		<a class='pluso-google'></a>
		<a class='pluso-livejournal'></a>
		<a class='pluso-moimir'></a>
		<a class='pluso-liveinternet'></a>
	</div>
	<script type='text/javascript'>if(!window.pluso){pluso={version:'0.9.1',url:'http://share.pluso.ru/'};h=document.getElementsByTagName('head')[0];l=document.createElement('link');l.href=pluso.url+'pluso.css';l.type='text/css';l.rel='stylesheet';s=document.createElement('script');s.src=pluso.url+'pluso.js';s.charset='UTF-8';h.appendChild(l);h.appendChild(s)}</script>
	<!-- <div class="share addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:width="50" fb:like:locale="en_US"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:annotation="none" style="position:relative; width:33px; display:inline-block;"></a>
		<a class="addthis_button_tweet" style="cursor:pointer;" tw:count="none"></a>
		<a class="addthis_button_livejournal" style="cursor:pointer;" title="написать в ЖЖ"></a>
		<a class="addthis_button_vk" style="cursor:pointer;" title="рассказать в контакте"></a>
		<a class="addthis_button_my.ya.ru" style="cursor:pointer;" title="поделиться на Я.ру"></a>
		<a href="http://www.addthis.com/bookmark.php?v=250&username=ra-4d77e2f8221bce54" class="addthis_button_more"></a>
	</div> -->
	<a href="http://www.itproduction.net" id="itpr" target="_blank"></a>
</footer>