<% @temp = "Заглушка" %>
<header>
	<nav>
		<li class="left"><a id="klep_mini" href="/<%= @lang %>/">
			<% if @lang == 'ru' %>Главная<% end %>
			<% if @lang == 'en' %>Home<% end %>
			<% if @lang == 'de' %>Haus<% end %>
		</a></li>
		<li class="left"><a href="/<%= @lang %>/features/">
			<% if @lang == 'ru' %>Возможности<% end %>
			<% if @lang == 'en' %>Features<% end %>
			<% if @lang == 'de' %>Möglichkeiten<% end %>
		</a></li>
		<li class="left"><a href="/<%= @lang %>/prices/">
			<% if @lang == 'ru' %>Тарифы<% end %>
			<% if @lang == 'en' %>Prices<% end %>
			<% if @lang == 'de' %>Preise<% end %>
		</a></li>
		<li class="right">
			<a id="lang" href="#" 
				<% if @lang == 'ru' %>class="ru"<% end %>
				<% if @lang == 'en' %>class="en"<% end %>
				<% if @lang == 'de' %>class="de"<% end %>
			> <!-- закрывается тэг -->
				<% if @lang == 'ru' %>Сменить язык<% end %>
				<% if @lang == 'en' %>Language<% end %>
				<% if @lang == 'de' %>Sprache<% end %>
			</a>
		</li>
	</nav>
	<div id="header_panels"> <!-- чтобы при отключенных скриптах панели не накладывались друг на друга -->
		<div id="lang_panel">
			<a class="ru" href="/ru/"></a>
			<a class="en" href="/en/"></a>
			<a class="de" href="/de/"></a>
		</div>
	</div>
</header>