<% @temp = "Заглушка" %>
<!-- Клепариус: переосмысление -->
<script src="/js/kleparius.settings.js"></script>
<script src="/js/kleparius.rotatable.js"></script>
<script src="/js/kleparius.buttons.js"></script>