$footer_height: 60px

html, body
    width: 100%
    height: 100%
body
    position: relative
    min-height: 100%
    height: 100%
    height: auto
+sticky-footer($footer-height: 60px, $padding: 85px)
article
    // padding-bottom: 85px
footer
    // +clear-floats
    // position: absolute
    // bottom: 0
    // height: $footer_height
    +ahc(800px)
    // центрирование фиксированного или абсолютного блока по горизонтали, сделаю миксины
    // left: 50%
    // margin-left: - span_width_without_padding() / 2
    // width: span_width_without_padding()
    //
    .share
        float: left
        margin-top: 11px
    #itpr
        float: right
        +site-sprite(itpr)
        margin-top: 5px