$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;
$impact: Impact,Charcoal, sans-serif;
$lucida-console: "Lucida Console", Monaco, monospace;
$lucida-sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$arial-black: Gadget, "Arial Black", sans-serif;
$comic-sans: "Comic Sans MS", cursive;
$courier: "Courier New", Courier, monospace;

$tahoma: Tahoma, Geneva, sans-serif;
$ms-sans-serif: "MS Sans Serif", Geneva, sans-serif;
$ms-serif: "MS Serif", "New York", serif;
$times: "Times New Roman", Times, serif;
$trebuchet: "Trebuchet MS", Helvetica, sans-serif;

$mariad: "Mariad Pro";