@mixin span($number: $span-number, $padding: $span-padding) {
    @include box-sizing(border-box);
    // +box-sizing(content-box)
    padding-left: $padding;
    padding-right: $padding;
    @if $grid == "fixed" {
        // width: $number * ($span-width + $span-margin * 2) - $span-margin * 2
        // width: $number * ($span-width + $span-margin * 2) - $span-margin * 2;
        width: $number * ($span-width + $span-margin * 2) - $span-margin * 4;
    }
    // @if $grid == "fluid" {
    //     width: $number * $span-width
    // }
}
@function span-width-without-padding($number: $span-number) {
    @if $grid == "fixed" {
        // @return $number * ($span-width + $span-margin * 2) - $span-margin * 2 - $span-padding * 2;
    }   @return $number * ($span-width + $span-margin * 2) - $span-margin * 6;
    // @if $grid == "fluid" {
    //     @return $number * $span-width
    // }
}
@mixin span-margin($margin: $span-margin) {
    // auto == center
    margin-left: $margin;
    margin-right: $margin;
}
@mixin span-padding($padding: $span-padding) {
    // auto == center
    padding-left: $padding;
    padding-right: $padding;
}
