@mixin sticky-footer($footer-height: 60px, $padding: $footer-height) {
    article {
        padding-bottom: $padding;
    }
    footer {
        @include clear-floats;
        position: absolute;
        bottom: 0;
        height: $footer-height;
    }
}
